@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Inter/Inter-Regular.ttf") format("opentype");
  font-display: swap;
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Inter/Inter-Bold.ttf") format("opentype");
  font-display: swap;
}


@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Gilroy/Gilroy-Bold.ttf") format("opentype");
  font-display: swap;
}


@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Gilroy/Gilroy-Semibold.ttf") format("opentype");
  font-display: swap;
}