@import 'css/fonts.css';

@tailwind utilities;
@tailwind base;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-dots {
  bottom: 152px;
  z-index: 99;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
  font-size: 16px;
}

.slick-dots li button:before {
  font-size: 16px;
  color: #282F38;
}
